
@{
    Layout = null;
    Response.StatusCode = 404;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFoundPage</title>
</head>
<body>
    <div>
        你访问的页面溜走了！！！
    </div>
</body>
</html>
